<!DOCTYPE html>
<html>
<head>
  <title>ContactUs</title>
  <%= stylesheet_link_tag    "contact_us/application", media: "all" %>
  <%= javascript_include_tag "contact_us/application", controller_name%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
