<!DOCTYPE html>
<html>
<head>
  <title>InyxContactUsRails</title>
  <%= stylesheet_link_tag    "inyx_contact_us_rails/application", media: "all" %>
  <%= javascript_include_tag "inyx_contact_us_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
