!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %center
      %h1= "Contacto "+ContactUs.name_web
    %p
      %strong Nombre del cliente:
      = @client[:name]
    %p
      %strong Email del cliente:
      = @client[:email]
    %p
      %strong Mensaje:
      = @client[:comment]