<button class='btn btn-default' ng-click="viewHome()"><i class="fa fa-inbox"></i></button>
<br><br>
<div class="panel panel-default">
	<div class="panel-heading">
		<i class='fa fa-envelope'></i>		
		{{ getMessage(data.messageData.messages)["email"] }}
	</div>
	<div class="panel-body">
		<div class="col-lg-10 ">
			<h3>{{ getMessage( data.messageData.messages)["name"] }}</h3>
			<br>
			{{ getMessage(data.messageData.messages)["email"] }}
			<br>
			{{ getMessage(data.messageData.messages)["created_at"] | date}}
			<br>
			{{ getMessage(data.messageData.messages)["created_at"] | date:'HH:mm'}}
		</div>
		<div class="col-lg-2 visible-lg"  style='font-size:120px;color:#F2F2F2;'>
			<i class='fa fa-envelope-o'></i>
		</div>
		<div class="col-lg-12">
			<hr>
			<p align='justify' style="font-size:18px;">
				{{ getMessage(data.messageData.messages)["message"] }}
			</p>
		</div>		
	</div>
	<div class="panel-footer">
	</div>
</div>
