<div class="form-inline">
	<div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input id="input-search" type="text" placeholder="Buscar Mensaje" ng-model="buscar.$">
    </div>
  </div>
  <button class='btn btn-default'><i class="fa fa-inbox" ng-click="viewHome()"></i></button>
</div>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<b><i class="fa fa-inbox"></i> Buzón de entrada</b>
		<p class='pull-right'><b>{{data.messages.length}}</b> mensajes en archivo</p>
	</div>
  	<div class="panel-body">
		<table style="width:100%">
			<tbody>
			  <tr class="row" ng-repeat="message in data.messages | orderBy: 'created_at':true | filter:buscar" id='msn-{{message.id}}'>
			    <td class='messages' style="width: 1%;" >
			    	<input type="checkbox" ng-click='msnSelected(message.id)' > 
			    </td>
				<td class='messages hidden-xs' style="width: 1%;" ng-click="viewMessage(message.id)" ><i class='fa fa-envelope'></i> </td>
				<td class='messages'  ng-click="viewMessage(message.id)" >{{ message.name }}</td>
				<td class='messages hidden-xs' style="width: 60%;" ng-click="viewMessage(message.id)" >{{ message.email }}</td>
				<td class='messages'  ng-click="viewMessage(message.id)" ><center>{{ message.created_at | date}}<span class='hidden-xs' > - {{ message.created_at | date:'HH:mm'}}</span></center></td>		
			  </tr>
			  <tr ng-show="!data.messages.length">
			  	<td style="width:100%"><center><i class="fa fa-frown-o"></i> No hay mensajes.</center></td>
			  </tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer"></div>
</div>


		
	